@font-face {
	font-family: 'zhiniu';
	src:url('../fonts/zhiniu.eot?-p2xp66');
	src:url('../fonts/zhiniu.eot?#iefix-p2xp66') format('embedded-opentype'),
		url('../fonts/zhiniu.woff?-p2xp66') format('woff'),
		url('../fonts/zhiniu.ttf?-p2xp66') format('truetype'),
		url('../fonts/zhiniu.svg?-p2xp66#zhiniu') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'zhiniu';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
	content: "\e64b";
}
.icon-qqzone:before {
	content: "\e649";
}
.icon-qqweibo:before {
	content: "\e64a";
}
.icon-weixin:before {
	content: "\e646";
}
.icon-weibo:before {
	content: "\e647";
}
.icon-envelope:before {
	content: "\e648";
}
.icon-enarrow-right:before {
	content: "\e629";
}
.icon-s-checkmark:before {
	content: "\e642";
}
.icon-plus:before {
	content: "\e643";
}
.icon-s-arrow-down:before {
	content: "\e644";
}
.icon-s-arrow-up:before {
	content: "\e645";
}
.icon-windows:before {
	content: "\e600";
}
.icon-user:before {
	content: "\e601";
}
.icon-up:before {
	content: "\e602";
}
.icon-umbrella:before {
	content: "\e603";
}
.icon-top-active:before {
	content: "\e604";
}
.icon-top:before {
	content: "\e605";
}
.icon-time:before {
	content: "\e606";
}
.icon-telephone:before {
	content: "\e607";
}
.icon-tag:before {
	content: "\e608";
}
.icon-site:before {
	content: "\e609";
}
.icon-shield:before {
	content: "\e60a";
}
.icon-set-active:before {
	content: "\e60b";
}
.icon-set:before {
	content: "\e60c";
}
.icon-search-active:before {
	content: "\e60d";
}
.icon-search:before {
	content: "\e60e";
}
.icon-pin:before {
	content: "\e60f";
}
.icon-php:before {
	content: "\e610";
}
.icon-phone:before {
	content: "\e611";
}
.icon-pencil:before {
	content: "\e612";
}
.icon-pc:before {
	content: "\e613";
}
.icon-pad:before {
	content: "\e614";
}
.icon-news:before {
	content: "\e615";
}
.icon-magic:before {
	content: "\e616";
}
.icon-location:before {
	content: "\e617";
}
.icon-list-active:before {
	content: "\e618";
}
.icon-list:before {
	content: "\e619";
}
.icon-img:before {
	content: "\e61a";
}
.icon-hot-news-active:before {
	content: "\e61b";
}
.icon-hot-news:before {
	content: "\e61c";
}
.icon-home:before {
	content: "\e61d";
}
.icon-help:before {
	content: "\e61e";
}
.icon-helm:before {
	content: "\e61f";
}
.icon-heart-active:before {
	content: "\e620";
}
.icon-heart:before {
	content: "\e621";
}
.icon-grid-active:before {
	content: "\e622";
}
.icon-grid:before {
	content: "\e623";
}
.icon-folder:before {
	content: "\e624";
}
.icon-file2:before {
	content: "\e625";
}
.icon-file:before {
	content: "\e626";
}
.icon-favicons-active:before {
	content: "\e627";
}
.icon-favicons:before {
	content: "\e628";
}
.icon-email:before {
	content: "\e62a";
}
.icon-edit:before {
	content: "\e62b";
}
.icon-down:before {
	content: "\e62c";
}
.icon-database:before {
	content: "\e62d";
}
.icon-comments:before {
	content: "\e62e";
}
.icon-code:before {
	content: "\e62f";
}
.icon-cloud:before {
	content: "\e630";
}
.icon-close:before {
	content: "\e631";
}
.icon-checkmark:before {
	content: "\e632";
}
.icon-chart-active:before {
	content: "\e633";
}
.icon-chart:before {
	content: "\e634";
}
.icon-camera:before {
	content: "\e635";
}
.icon-bullhorn-active:before {
	content: "\e636";
}
.icon-bullhorn:before {
	content: "\e637";
}
.icon-book-active:before {
	content: "\e638";
}
.icon-book:before {
	content: "\e639";
}
.icon-bell-active:before {
	content: "\e63a";
}
.icon-bell:before {
	content: "\e63b";
}
.icon-arrow-up:before {
	content: "\e63c";
}
.icon-arrow-right:before {
	content: "\e63d";
}
.icon-arrow-left:before {
	content: "\e63e";
}
.icon-arrow-down:before {
	content: "\e63f";
}
.icon-analysis:before {
	content: "\e640";
}
.icon-about:before {
	content: "\e641";
}
